<div class='row custom-spaced'>
  <div class='col'></div>
  <div class='col'>
    <div id='register-box'>
      <h1>Register</h1>
      <br/>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name='username' [(ngModel)]='username'>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name='password' [(ngModel)]='password'>
        </div>
        <button type="submit" class="btn btn-primary" (click)='register()'>Register</button>
        <small id="signUp" class="form-text text-muted">If you've already registered, <a href='login'>Log In!</a></small>
     </form>
    </div>
  </div>
  <div class='col'></div>
</div>
