<div class='row custom-spaced'>
  <div class='col-2'></div>
  <div class='col-8'>
    <div id='quote-box'>
      <h1>Fuel Quote History</h1>
      <table class="table">
        <thead>
          <tr class='row'>
            <th class = "col-1" scope="col"></th>
            <th class = "col-2" scope="col">Gallon Requested</th>
            <th class = "col-3" scope="col">Delivery Address</th>
            <th class = "col-2" scope="col">Delivery Date</th>
            <th class = "col-2" scope="col">Suggested Price</th>
            <th class = "col-2" scope="col">Total Amount Due</th>
          </tr>
        </thead>
        <tbody>
          <tr class ='row' *ngFor = "let quote of history; let i = index">
            <th class = "col-1" scope="row">{{i+1}}</th>
            <td class = "col-2">{{quote.gallonRequested}}</td>
            <td class = "col-3">{{quote.address}}</td>
            <td class = "col-2">{{quote.date}}</td>
            <td class = "col-2">{{quote.suggested}}</td>
            <td class = "col-2">{{quote.total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='col-2'></div>
</div>
