<div class='row custom-spaced'>
  <div class='col'></div>
  <div class='col'>
    <div id='login-box'>
      <h1>Login</h1>
      <br/>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name='username' [(ngModel)]='username'>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name='password' [(ngModel)]='password'>
        </div>
        <button type="submit" class="btn btn-primary" (click)='login()'>Login</button>
        <small id="signUp" class="form-text text-muted">If you haven't registered yet, <a href='register'>Sign Up!</a></small>
     </form>
    </div>
  </div>
  <div class='col'></div>
</div>
