<div class = 'row custom-spaced'>
  <div class = 'col'></div>
  <div class = 'col'>
    <div id = 'profile-table'>
      <h1>Profile Management</h1>
      <br/>
      <form>
        <div class = 'row'>
          <div class = 'col'>
            <div class="form-group">
              <label for="firstName">First Name *</label>
              <input type="text" class="form-control" id="firstName" name='firstName' [(ngModel)]='firstName'>
            </div>
          </div>
          <div class = 'col'>
            <div class="form-group">
              <label for="lastName">Last Name *</label>
              <input type="text" class="form-control" id="lastName" name='lastName' [(ngModel)]='lastName'>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address1">Address 1 *</label>
          <input type="text" class="form-control" id="address1" name='address1' [(ngModel)]='address1'>
        </div>
        <div class="form-group">
          <label for="address2">Address 2</label>
          <input type="text" class="form-control" id="address2" name='address2' [(ngModel)]='address2'>
        </div>
        <div class="form-group">
          <label for="city">City *</label>
          <input type="text" class="form-control" id="city" name='city' [(ngModel)]='city'>
        </div>
        <div class="form-group">
          <label for="city">State *</label>
          <br/>
          <select class="custom-select" style='width: 15%;' id ='state' name='state' [(ngModel)]='state'>
            <option selected>Select State</option>
            <option value='AL'>AL</option>
            <option value='AK'>AK</option>
            <option value='AZ'>AZ</option>
            <option value='AR'>AR</option>
            <option value='CA'>CA</option>
            <option value='CO'>CO</option>
            <option value='CT'>CT</option>
            <option value='DE'>DE</option>
            <option value='FL'>FL</option>
            <option value='GA'>GA</option>
            <option value='HI'>HI</option>
            <option value='ID'>ID</option>
            <option value='IL'>IL</option>
            <option value='IN'>IN</option>
            <option value='IA'>IA</option>
            <option value='KS'>KS</option>
            <option value='KY'>KY</option>
            <option value='LA'>LA</option>
            <option value='ME'>ME</option>
            <option value='MD'>MD</option>
            <option value='MA'>MA</option>
            <option value='MI'>MI</option>
            <option value='MN'>MN</option>
            <option value='MS'>MS</option>
            <option value='MO'>MO</option>
            <option value='MT'>MT</option>
            <option value='NE'>NE</option>
            <option value='NV'>NV</option>
            <option value='NH'>NH</option>
            <option value='NJ'>NJ</option>
            <option value='NM'>NM</option>
            <option value='NY'>NY</option>
            <option value='NC'>NC</option>
            <option value='ND'>ND</option>
            <option value='OH'>OH</option>
            <option value='OK'>OK</option>
            <option value='OR'>OR</option>
            <option value='PA'>PA</option>
            <option value='RI'>RI</option>
            <option value='SC'>SC</option>
            <option value='SD'>SD</option>
            <option value='TN'>TN</option>
            <option value='TX'>TX</option>
            <option value='UT'>UT</option>
            <option value='VT'>VT</option>
            <option value='VA'>VA</option>
            <option value='WA'>WA</option>
            <option value='WV'>WV</option>
            <option value='WI'>WI</option>
            <option value='WY'>WY</option>
          </select>
        </div>
        <div class="form-group">
          <label for="zipCode">Zip Code *</label>
          <input type="text" class="form-control" id="zipCode" name='zipcode' [(ngModel)]='zipcode'>
        </div>
        <small id="requiredField" class="form-text text-muted">Fields with * are required.</small>
        <br/>
        <button type="submit" [disabled]='!firstName || !lastName || !address1 || !city || !zipcode || !state ' class="btn btn-primary" (click)='postProfile()'>Save Changes</button>
      </form>
     </div>
   </div>
  <div class = 'col'></div>
</div>
