<div class='row custom-spaced'>
  <div class='col'></div>
  <div class='col'>
    <div id='quote box'>
      <h1>New Fuel Quote</h1>
      <br/>
      <form>
        <div class="form-group">
          <label for="gallons">Gallons Requested</label>
          <input type="text" class="form-control" id="gallons" name="gallons" [(ngModel)]='gallonRequested'>
        </div>
        <div class="form-group">
          <label for="address">Delivery Address</label>
          <input type="text" class="form-control" id="address" name="address" [(ngModel)]='address' readonly>
        </div>
        <div class="form-group">
          <label for="date">Delivery Date</label>
          <br />
          <ngb-datepicker name='newdate' [(ngModel)]="date"></ngb-datepicker>
        </div>
        <div class="form-group">
          <label for="suggested">Suggested Price</label>
          <input type="text" class="form-control" id="suggested" name="suggested" [(ngModel)]='suggested' readonly>
        </div>
        <div class="form-group">
          <label for="total">Total Amount Due</label>
          <input type="text" class="form-control" id="total" name="total" [(ngModel)]='total' readonly>
        </div>
        <button type="submit" [disabled] ='isDisabled || gallonRequested < 1 || !date.day || !address' class="btn btn-secondary space" id="submit" (click)='getQuote()'>Get Price</button>
        <button type="submit" [disabled] ='isDisabled || total < 1 || suggested < 1' class="btn btn-primary" id="submit" (click)='postQuote()'>Submit Quote</button>
      </form>
    </div>
  </div>
  <div class='col'></div>
</div>
