<!-- Navbar -->
<div id="navdiv" *ngIf='isLoggedIn | async'>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #141414;">
    <a class="navbar-brand" href="">
      <img src="https://cdn.discordapp.com/attachments/666429759177359370/685695183915843594/unknown.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="profile">Profile</a>
        <a class="nav-item nav-link" href="quote">Fuel Quote Form</a>
        <a class="nav-item nav-link" href="history">Fuel Quote History</a>
      </div>
      <div class='navbar-nav ml-auto'>
        <a class="nav-item nav-link" (click)='logout()' href='login'>Logout</a>
      </div>
    </div>
  </nav>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
